{% extends 'base.html.twig' %}

{% block title %}Materia index{% endblock %}

{% block body %}
    <h1>Materia index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materium in materias %}
            <tr>
                <td>{{ materium.id }}</td>
                <td>{{ materium.name }}</td>
                <td>
                    <a href="{{ path('materia_show', {'id': materium.id}) }}">show</a>
                    <a href="{{ path('materia_edit', {'id': materium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('materia_new') }}">Create new</a>
{% endblock %}
